* {
    box-sizing: border-box;
}

body {
    --bg: rgba(20, 20, 20, 1);
    --normal: rgba(220, 220, 220, 1);
    --error: rgba(220, 128, 128, 1);
    --max-width: clamp(640px, 80vw, 1280px);

    background: var(--bg);
    color: var(--normal);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.4;
}

.canvas_container {
    width: fit-content;
    height: auto !important;
    aspect-ratio: 4 / 3;
    padding: 1ch;
    margin: 2rem auto;
    border: 10px groove var(--normal);
    background-color: #000;
}

#canvas {
    display: block;
    width: 1280px;
    height: auto !important;
    max-width: var(--max-width);
    aspect-ratio: 4 / 3;
    outline: none;

    image-rendering: auto;
    image-rendering: crisp-edges;
    &.smooth {
        image-rendering: pixelated;
    }
}

.controls {
    max-width: var(--max-width);
    margin: 2rem auto;

    button {
        cursor: pointer;
        user-select: none;
        background: var(--normal);
        color: var(--bg);
        border-radius: 5px;
        border: 1px solid var(--bg);
        padding: 1ch 3ch;
    }

    label {
        user-select: none;
        cursor: pointer;
    }
}


.console {
    width: 100%;
    max-width: var(--max-width);
    max-height: 200px;
    margin: 16px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    .label {
        display: inline-block;
        font-weight: bold;
        text-align: left;
        padding-left: 2ch;
        width: 100%;
    }
}

#output,
#errors {
    height: 200px;
    display: block;
    overflow-y: scroll;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 20px;
    padding: 2ch;
}

#output {
    border: 1px solid var(--normal);
}

#errors {
    border: 1px solid var(--error);
    color: var(--error);
}
